@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #f26d0a;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
